@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
/* url("/fonts/Montserrat-Medium.ttf") url("/fonts/Montserrat-SemiBold.ttf") url("/fonts/Montserrat-Light.ttf") */

/* @font-face {
    font-family: "Montserrat-400", sans-serif;
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


/* .font-montserrat-400 {
    font-family: "Montserrat";
} */

@layer base {
    html {
        font-family: "Montserrat", system-ui, sans-serif;
    }
}